*{
  box-sizing: border-box;
  margin:0px;
  padding: 0;
}

body{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a{
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

h1{
  color: #000000;
}
.principal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  background: #E9E6E8;
  border: 1px solid #000000;
  border-radius: 4px;
}

.submit{
  margin-top: 20px;
  width: 160px;
  height: 25px;
  color: #E9E6E8;
  background: #D90D6C;
  border-radius: 35px;
}

.logo{
  width: 80%;
}

.contenedor-menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;

}

.button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 170px;
  height: 135px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 10px;
  left: 6px;
  top: 70px;
  background: #D90D6C;
  border-radius: 5px;
}

.button:hover{
  background: #ff238a
}

.card-icon{
  width: 50%;
  margin-top: 8px;
}
