tesis-front/package-lock.json
tesis-front/.vscode/settings.json
tesis-front/.vs
tesis-front/.vscode
tesis-front/node_modules
TesisBack/package-lock-json
TesisBack/package-lock.json
TesisBack/.vscode/settings.json
TesisBack/.vs
TesisBack/.vscode
TesisBack/node_modules
TesisBack/package-lock-json