.contenedor-consulta-clientes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.consulta-cliente-button{
    margin-top: 20px;
    width: 50%;
    height: 25px;
    color: #000000;
    background: #E9E6E8;
    border-radius: 35px;
    border: 2px solid #000000;
    border-color: #000000;
    transition: all .3s ease;
}

.consulta-cliente-button:hover{
    background: #D90D6C;
}

.consulta-cliente-a{
    color: #000000;
}