.contenedor-principal{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cabecera{
    background-color: #d90d6c;
    width:100%;
    padding: 1em;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background: linear-gradient(90deg, #B91D73 0%, #F953C6 100%);
    flex-wrap: nowrap;
}
.cabecera-h1{
    color: white;
}
.cabecera-button{    
    display: none;
    cursor: pointer;
}

.cabecera-svg{
    width: 2em;
    height: 2em;
}

.cabecera-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.cabecera-li{
    margin: 0 .5em;
}

@media screen and (max-width:560px){
    .cabecera-button{
        display: flex;
    }

    .cabecera-nav{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 0vh;
        opacity: 0;
        overflow: hidden;
        transition: all .5s ease;
    }

    .cabecera-nav.is-active{
        height: 50vh;
        opacity: 1;

    }
    
    .cabecera-ul{
        flex-direction: column;
        margin: .5em 0;
    }
}